<!DOCTYPE html>
<html>
<head>
    <title>Mould Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Mould Detection Service</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="upload-container">
                <input type="file" name="file" accept=".jpg,.jpeg,.png">
                <button type="submit">Upload and Analyze</button>
            </div>
        </form>
    </div>
</body>
</html>